body {
	text-align: center; /* IE5.x */
	padding: 0;
	margin: 0;
	}

#telaio {
	width:100%;
	margin: 0px;
	border:1px solid gray;
	line-height:150%;
	color: black;
	background-color: #ffffcc;
	text-align: left; /* IE5.x */
	}

#testata {
	font-size: 130%;
	}


#fondo {
	font-size: 85%;
	text-align: center;
	background-color: red;
}


#testata, #fondo {
	padding:0.5em;
	color:white;
	background-color: #cc9900;
	clear:left;
	}


#sinistro {
	float:left;
	width:160px;
	margin: 0px;
	padding: 5px;
	}

#centrale {
	margin-left: 170px;
	border-left:1px solid gray;
	padding:10px;
	}
