html{background: black;}
#box{
	width:1200px;
	height:600px;
	margin-left:65px;
	background:#123456;
	background-size:auto 400px;
}
#menu{
	width:180px;
	height:600px;
	margin:0px;
	background:#708090;
	background-size:auto 400px;

}
.voce{
	line-height:40px;
	width:auto;
	height:40px;
	float:left;
	background:#ABCDEF;
	text-align:center;
	border:3px solid blue;
	border-radius:20px;
	padding:0 40px;
}
#top{
	width:100%;
	height:40px;
	background:transparent;
}	
#corpo{
	width:100%;
	height:70%;
	background:transparent;
}
#footer{
	width:100%;
	height:100px;
	background:transparent;
}
