html
#box{
	width:1200px;
	height:auto;
	margin:0 auto;
	background:#708090;
	background-size:100%;
	h1{ color: green; text-align: centre; text-indent: 50px;}
}
#menu{
	width:100%;
	height:40px;
	background:blue;
	background-size:auto 40px;
}
#top{
	width:100%;
	height:40px;
	background: trasparent;
}	
#corpo{
	width:100%;
	height:70%;
	background:trasparent;
}
#footer{
	width:100%;
	height:100px;
	background:trasparent;
}
